In [2]:
import pandas as pd
df=pd.read_csv('iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [5]:
x=df[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
x.astype(int)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0                5             3              1             0
1                4             3              1             0
2                4             3              1             0
3                4             3              1             0
4                5             3              1             0
..             ...           ...            ...           ...
145              6             3              5             2
146              6             2              5             1
147              6             3              5             2
148              6             3              5             2
149              5             3              5             1

[150 rows x 4 columns]

In [6]:
y=df.iloc[:,-1]
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.15)
print(x_train,y_train)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
18             5.7           3.8            1.7           0.3
8              4.4           2.9            1.4           0.2
47             4.6           3.2            1.4           0.2
85             6.0           3.4            4.5           1.6
126            6.2           2.8            4.8           1.8
..             ...           ...            ...           ...
80             5.5           2.4            3.8           1.1
0              5.1           3.5            1.4           0.2
100            6.3           3.3            6.0           2.5
116            6.5           3.0            5.5           1.8
143            6.8           3.2            5.9           2.3

[127 rows x 4 columns] 18         Iris-setosa
8          Iris-setosa
47         Iris-setosa
85     Iris-versicolor
126     Iris-virginica
            ...
80     Iris-versicolor
0          Iris-setosa
100     Iris-virginica
116     Iris-virginica
143     Iris-virginica
Name: Species, Length: 127, dtype: object

In [8]:
model=LogisticRegression()
model.fit(x_train,y_train)

C:\Users\gkk010\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [9]:
len(x_test)

23

In [10]:
y_pred=model.predict(x_test)

In [11]:
model.intercept_

array([  9.42068331,   2.31000505, -11.73068836])

In [12]:
model.coef_

array([[-4.17793586e-01,  8.74191561e-01, -2.36952852e+00,
        -1.03203204e+00],
       [ 4.18896422e-01, -3.37616974e-01, -1.05244572e-01,
        -9.20301740e-01],
       [-1.10283586e-03, -5.36574587e-01,  2.47477309e+00,
         1.95233378e+00]])

In [13]:
from sklearn import metrics
cfmatrix=metrics.confusion_matrix(y_test,y_pred)
cfmatrix

array([[ 7,  0,  0],
       [ 0, 11,  1],
       [ 0,  0,  4]], dtype=int64)

In [14]:
print('accuracy:',metrics.accuracy_score(y_test,y_pred))

accuracy: 0.9565217391304348

In [15]:
df=pd.DataFrame({'actual':y_test,'pred':y_pred.flatten()})
df

              actual             pred
92   Iris-versicolor  Iris-versicolor
93   Iris-versicolor  Iris-versicolor
77   Iris-versicolor   Iris-virginica
43       Iris-setosa      Iris-setosa
26       Iris-setosa      Iris-setosa
72   Iris-versicolor  Iris-versicolor
113   Iris-virginica   Iris-virginica
119   Iris-virginica   Iris-virginica
7        Iris-setosa      Iris-setosa
68   Iris-versicolor  Iris-versicolor
61   Iris-versicolor  Iris-versicolor
147   Iris-virginica   Iris-virginica
34       Iris-setosa      Iris-setosa
11       Iris-setosa      Iris-setosa
53   Iris-versicolor  Iris-versicolor
54   Iris-versicolor  Iris-versicolor
95   Iris-versicolor  Iris-versicolor
28       Iris-setosa      Iris-setosa
91   Iris-versicolor  Iris-versicolor
78   Iris-versicolor  Iris-versicolor
56   Iris-versicolor  Iris-versicolor
42       Iris-setosa      Iris-setosa
129   Iris-virginica   Iris-virginica